<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.eduardo.regalos">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:allowBackup="true"
        android:appComponentFactory="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        android:usesCleartextTraffic="true"
        tools:replace="android:appComponentFactory">
        <activity android:name=".DetalleComprasActivity"></activity>
        <activity android:name=".ComprasActivity" />
        <activity android:name=".PersonalDataActivity" />
        <activity android:name=".PrepararActivity2" />
        <activity android:name=".PrepararActivity" />
        <activity android:name=".GridSubcat" />
        <activity android:name=".PaymentDetailsActivity" />
        <activity android:name=".PayActivity" />
        <activity android:name=".CartActivity" />
        <activity android:name=".PerfilActivity" />
        <activity android:name=".Ver_Todos" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".DetalleProductoActivity" />
        <activity android:name=".Principal">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>